.plans-page-wrapper {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .pink-circle {
    position: absolute;
    top: 16.9%;
    left: 130.5%;
  }
}

.plan-cards-wrapper {
  margin-top: 7.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.plans-page-title {
  text-align: center;
}

@media (max-width: 64rem) {
  .plan-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }
}

@media (max-width: 62rem) {
  .plan-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media (max-width: 24rem) {
  .plans-page-wrapper {
    padding: 0 4rem;
  }

  .plans-page-title {
    text-align: center;
  }

  .plan-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 5rem;
  }

  .lamp-icon {
    display: none;
  }
}
