.prototype-wrapper {
  margin: 0 24rem;
  position: relative;
}

.prototype-bg-img {
  background: url("../../Assets/Group 272.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10rem;
}

.prototype-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  height: 50rem;
  max-width: 40%;
  padding: 12rem;
  color: #292930;
}

.prototype-decription {
  font-size: 1.8rem;
  color: #292930;
}

.pink-circle-1 {
  position: absolute;
  top: 12.2%;
  left: 55%;
}

.pink-circle-2 {
  position: absolute;
  top: 25.8%;
  left: 89%;
}

.blue-circle {
  display: block;
  position: absolute;
  top: 9%;
  left: 90%;
}

@media (max-width: 64rem) {
  .prototype-wrapper {
    padding: 0 8rem;
    margin: 0 6rem;
  }
  .prototype-bg-img {
    max-width: 100%;
  }

  .prototype-text {
    display: block;
    height: 50rem;
    max-width: 25rem;
    padding: 4rem;
  }
  .pink-circle-1 {
    position: absolute;
    top: 17.2%;
    left: 55%;
  }

  .pink-circle-2 {
    display: none;
    position: absolute;
    top: 21.8%;
    left: 119%;
  }

  .blue-circle {
    display: none;
    position: absolute;
    top: 9%;
    left: 90%;
  }
}

@media (max-width: 24rem) {
  .prototype-wrapper {
    margin: 0;
    padding: 0 4rem;
  }
  .prototype-bg-img {
    background: url("../../Assets/Grey background.svg");
    background-repeat: no-repeat;
  }

  .prototype-text::before {
    content: "";
    background-image: url("../../Assets/Mask Group.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 2rem;
    left: 10rem;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  .prototype-text {
    height: 50rem;

    padding: 45rem 8rem 0;
    text-align: center;
  }

  .prototype-decription {
    color: #6d7381;
    max-width: 100%;
  }
}
