@import "../../styles/variables";

.objective-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem;
  border: 0.1rem solid #ebebf0;
}

.objective-item-wrapper-highlighted {
  border-top: 0.1rem solid $primary-blue;
  .expand-text {
    color: $primary-blue;
  }
}

.objective-title {
  font-size: 2.2rem;
}

.objective-details-container {
  display: flex;
  flex-direction: column;
}

.objective-icon {
  display: block;
  padding-top: 2rem;

  // margin-left: 16rem;
}

.expand-text {
  cursor: pointer;
}

@media (max-width: 34rem) {
  .objective-item-wrapper {
    border: none;
    display: flex;
    padding: 2rem;

    flex-direction: column;
    align-items: center;
  }

  .objective-item-wrapper-highlighted {
    border-top: none;
    .expand-text {
      color: $text-dark;
    }
  }

  .objective-title {
    font-size: 2.2rem;
  }

  .objective-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
    text-align: center;
  }

  .objective-icon {
    display: block;
    padding-top: 2rem;

    // margin-left: 16rem;
  }
}
