@import "../../styles/variables";

.feature-page-wrapper {
  max-width: 100%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 16rem;
}

.feature-text {
  // height: 500px;
  // padding: 18rem;
  // flex: 1;
  max-width: 100%;
  color: $text-dark;
}

.section-title-last-letter {
  color: $primary-blue;
}

.feature-svg img {
  width: 100%;
}
.feature-description {
  font-size: 2rem;
}
@media (max-width: 64rem) {
  .feature-page-wrapper {
    padding: 10rem;
  }

  .section-title {
    font-size: 6.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
}

@media (max-width: 24rem) {
  .feature-page-wrapper {
    padding: 2rem 4rem;
    flex-direction: column;
  }
  .feature-svg {
    img {
      width: 100%;
    }
  }

  .section-title {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
}
