@import "../../styles/variables";

.home-page-wrapper {
  height: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.feature-text {
  height: 500px;
  padding: 18rem;
}
.feature-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.section-title {
  font-size: 8rem;
  font-weight: 500;
}
.section-title-last-letter {
  color: $primary-blue;
}
.feature-svg {
  height: 50rem;
  padding: 10.7rem;
}
.feature-decription {
  padding-bottom: 3rem;
  font-size: 2rem;
}

.prototype-wrapper {
  margin: 15rem 35rem;
  background: url("../../Assets/Group 272.svg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 124rem;
  position: relative;
}

.prototype-text {
  height: 50rem;
  width: 50rem;
  padding: 12rem;
}

.prototype-decription {
  font-size: 1.6rem;
  color: #292930;
}

.pink-circle-1 {
  position: absolute;
  top: 17.2rem;
  left: 55rem;
}

.pink-circle-2 {
  position: absolute;
  top: 21.8rem;
  left: 119rem;
}

.yellow-circle {
  position: absolute;
  top: 62.8rem;
  left: 24rem;
}

.blue-circle {
  position: absolute;
  top: 9rem;
  left: 100rem;
}

.plans-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.plan-cards-wrapper {
  margin-top: 7.2rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
