@import "../../styles/variables";

.plan-card-wrapper {
  padding: 4rem;
  height: 52rem;
  max-width: 30rem;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem solid #ebebf0;
  position: relative;
  .card-price {
    color: #5956e9;
  }
}
.star-icon {
  position: absolute;
  top: 0.96rem;
  right: 0.96rem;
}
.plan-card-wrapper-highlighted {
  background-color: #5956e9;
  border: none;
  color: #ffffff;
  .card-price {
    color: #ffffff;
  }
}

.card-user-group {
  font-size: 1.6rem;
  margin: 0;
}
.card-title {
  font-size: 5rem;
  font-weight: 500;
}

.card-price {
  font-size: 2.4rem;
  font-weight: 600;
}

.plan-feature-item {
  font-size: 1.6rem;
}
.button-blue {
  background-color: #5956e9;
  color: #ffffff;
}

.button-white {
  background-color: #ffffff;
  color: #5956e9;
}
.button-pink {
  background-color: #fab8c4;
  color: black;
}

@media (max-width: 102.4rem) {
  .plan-card-wrapper {
    padding: 3rem;
    height: 52rem;
    max-width: 27.6rem;
    border-radius: 2.76rem;
  }

  .card-user-group {
    font-size: 1.6rem;
    margin: 0;
  }
  .card-title {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .card-price {
    font-size: 2rem;
    font-weight: 600;
  }

  .plan-feature-item {
    font-size: 1.4rem;
  }
}

@media (max-width: 37.5rem) {
  .plan-card-wrapper {
    padding: 2rem;
    height: 52rem;
    max-width: 100%;
    border-radius: 2.76rem;
    flex-direction: column;
    justify-content: space-between;
    border: 0.1rem solid #ebebf0;
    position: relative;
    .card-price {
      color: #5956e9;
    }
    display: none;
  }
  .plan-card-wrapper-highlighted {
    display: flex;
    background-color: #5956e9;
    border: none;
    color: #ffffff;
    .card-price {
      color: #ffffff;
    }
  }
}
