$primary-blue: #5956e9;
$secondary-blue: #dbdeff;
$primary-light-blue: #90c8fc;
$secondary-light-blue: #dbf8ff;
$primary-pink: #fab8c4;
$secondary-pink: #ffeddc;
$primary-yellow: #ffdc60;
$primary-dark: #42424a;
$secondary-dark: #525260;
$primary-white: #ffffff;
