@import "../styles/variables";
@font-face {
  font-family: DSSans;
  src: url("../Assets/DMSans-VariableFont_opsz\,wght.ttf");
}

// Elements style overriding
html {
  font-size: 62.5%;
}
body {
  font-family: DSSans;
}
p {
  font-size: 1.6rem;
}

// Reusable class names
.link-text {
  color: $primary-blue;
  cursor: pointer;
}
.gray-text {
  color: #999fae;
}

.primary-button {
  font-size: 2rem;
  padding: 2.2rem 3rem 5rem;
  border-radius: 2.4rem;
}

.section-title {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.list-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.list-item-centered {
  align-items: center;
}

.bold-text {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 64rem) {
  html {
    font-size: 50.5%;
  }
}

@media (max-width: 24rem) {
  html {
    font-size: 40.5%;
  }

  .primary-button {
    font-size: 2rem;
    padding: 1.8rem 2.6rem 2.6rem;
    border-radius: 2.4rem;
  }

  .section-title {
    font-size: 6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }

  .primary-button {
    font-size: 1.4rem;
    padding: 1.6rem 2rem 3rem;
    border-radius: 1.6rem;
  }
}
